<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1" parallel="false">

    <!-- Bagian 1: Eksekusi test login -->
    <test name="Login Tests">
        <classes>
            <class name="com.example.base.testBase"/>
        </classes>
    </test>
    
    <!-- Bagian 2: Eksekusi test BookStore (Add/Delete) -->
    <test name="BookStore Tests">
        <classes>
            <class name="com.tests.bookStoreTest1"/>
        </classes>
    </test>

</suite>
